<div class="main-automotive-parts">
  <% unless @automotive_part_by_title.length == 0 %>
    <%= render "automotive_by_title" %>
  <% end %>
  <% unless @service_pack_by_title.length == 0 %>
    <%= render "service_by_title" %>
  <% end %>
</div>
