@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.col-sm-offset-3 {
  margin-left: 30%;
}

.col-sm-6 {
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
  margin: auto !important;
}

h2 {
  font-size: 40px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

.form-control {
    width: 500px;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
  width: 500px;
  margin-top: 15px;
}

.alert {
  margin-top: 15px;
}

a:hover {
  text-decoration: none;
}

.place {
  padding-bottom: 300px;
}

.custom-select {
  margin-bottom: 15px;
}

.input-group-addon {
  width: 10px;
}

.date-time {
  margin-top: 10px;
}
