.register-advisory {
  width: 75%;
  border: 1px solid;
  height: 175px;
  margin: auto;
}

.field {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-advisory {
    width: 300px;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.field-register {
  margin: auto;
  text-align:center;
  margin: 10px;
  margin-bottom: 30px;
}
