.header-bottom {
  border: 0px;
  box-shadow: none;
  position: absolute;
  margin: -26px 0 -50px;
  z-index: 100;
  width: 100%;
  background: transparent;
  left: 0;
  right: 0;
}

.header-bottom .navbar-default {
  background-color: #fa9c30;
  border-radius: 3px;
  padding-left: 25px;
}

.header-bottom .navbar {
  box-shadow: none;
  border: none;
  margin: 0px;
  height: 62px;
}

.navbar {
  position: relative;
}

.header-bottom .navbar .navbar-collapse {
  padding: 0px;
}

.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}

.navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  overflow: visible !important;
}

.navbar-collapse {
  width: auto;
  border-top: 0;
  box-shadow: none;
}

.header-bottom .navbar .navbar-collapse .navbar-nav {
  padding-top: 0px;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.nav {
  padding-left: 0;
  list-style: none;
  li {
    position: relative;
    display: block;
  }
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.navbar-nav>li {
  float: left;
}

.a-home {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin-left: -20px;
}

.icon-home {
  font-size: 35px !important;
  color: #fff;
}
