<header class="header">
  <div class="row header-middle">
    <div class="container">
      <div class="row">
        <div class="logo_part col-md-3">
          <%= image_tag("logo web.jpg", class: "logo-web") %>
        </div>
        <div class="contact_info col-md-9 col-lg-7">
          <div class="c_info service-time">
            <i class="fa fa-calendar info-icon"></i>
            <div class="row">
              <div class="line_1">Thứ 2 - Chủ nhật</div>
              <div class="line_2">7:30 - 18:00</div>
            </div>
          </div>
          <div class="c_info tel-email">
            <i class="fa fa-phone info-icon"></i>
            <div class="row">
              <div class="line_1">0123456789</div>
              <div class="line_2">0123456789</div>
            </div>
          </div>
          <div class="c_info location">
            <i class="fa fa-map-marker info-icon"></i>
            <div class="row">
              <div class="line_1">Lô 19B, số 3-5 Nguyễn Văn Linh</div>
              <div class="line_2">Long Biên, Hà Nội</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render "layouts/btn_user" %>
  </div>
  <%= render "layouts/taskbar"%>
</header>
