<div class="header-bottom stricky slideIn animated">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" id="Primary">
          <li class="home-page">
            <%= link_to "#", class: "a-home" do %>
              <i class="fa fa-home icon-home" aria-hidden="true""></i>
            <% end %>
          </li>
        </ul>
        
      </div>
    </nav>
  </div>
</div>
